<%- include('header'); %>
<div class="container jumbotron">
        <div class="row">
                <div class="col-12 col-md-8">
                        <h1 class="mb-2 mt-5"><% new Date().toString().split(" ").splice(1, 3).join(" ") %> </h1>
                </div>
        </div>
</div>
<%- include('footer'); %>