html,
body {
        height: 100%;
}

body {
        /* display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center; */
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #2d4059;
        color: white;
}


hr {
        border: 1px solid white;
}

a:hover {
        text-decoration: none;
}


.card-body {
        border-left: solid 2px white;
}

.card-text {
        text-align: justify;
}


.submission-form {
        display: none;
}
